@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap");

:root {
  --dark-one: #333;
  --dark-two: #7a7a7a;
  --dark-three: #0f0c16;
  --main-color: #581a70b9;
  --light-one: #fff;
  --light-two: #f9fafb;
  --light-three: #f6f7fb;
  --light-four: #1db99f;
  --light-five: #007BFF;
}

/* General styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 80px;
  text-align: center;
  margin: 0;
  background: linear-gradient(135deg, #1db99f, #581a70b9, #333);
  color: var(--light-one);
  padding: 10px;
}

.card {
  width: 90%;
  max-width: 500px;
  margin: 100px auto 0;
  border-radius: 20px;
  text-align: center;
  padding: 40px 30px;
  background: linear-gradient(220deg, #1db99f, #581a70b9), #333;
  color: var(--light-four);
  box-shadow: 0 10px 5px rgba(26, 1, 1, 0.2);
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  height: 40px;
  outline: 0;
  border: 0;
  padding: 15px 5px;
  border-radius: 30px;
  flex: 1;
  margin-right: 5px;
  font-size: 18px;
  background-color: var(--light-one);
}

.search button {
  outline: 0;
  border: 0;
  background-color: var(--light-one);
  border-radius: 50%;
  height: 58px;
  width: 50px;
  cursor: pointer;
}

.search button img {
  width: 20px;
  height: 20px;
}

.weather-icon {
  width: 120px;
}

.weather h2 {
  font-size: 80px;
  font-weight: 500;

}

.weather h3 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex ;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 10px;
}

.column {
  display: flex;
  align-items: center;
  text-align: left;
}

.column img {
  width: 50px;
  margin-right: 10px;
}

.humidity, .wind {
  font-size: 28px;
  margin-top: -6px;
}

/* .current-weather.show-details .details {
  display: block;
} */
.favorite-cities {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: var(--light-two);
  background: linear-gradient(220deg, #1db99f, #581a70b9, #333)
}

.favorite-cities h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.favorite-cities input {
  flex: 0.23;
  height: 36px;
  outline: 0;
  border: 1px solid var(--dark-three);
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.favorite-cities button {
  background-color: var(--light-five);
  color: var(--light-one);
  border: none;
  border-radius: 5px;
  padding: 5px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.favorite-cities .city-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
 
}

.favorite-cities .city-card {
  border: 1px solid #cecccc;
  border-radius: 10px;
  background-color: var(--light-one);
  margin: 10px;
  padding: 10px;
  box-shadow: 0 6px 10px rgba(26, 1, 1, 0.2);
  text-align: center;
  width: calc(33.33% - 20px);
  overflow: hidden;

}

.favorite-cities .city-card h3 {
  font-size: 18px;
}

.favorite-cities .city-card div {
  max-height: 100px; 
  overflow: auto; /* Enable the scrolling for overflowing content  */
  margin-top: 10px;
}

.favorite-cities .city-card p {
  font-size: 16px;
  margin: 5px 0;
}

.favorite-cities .city-card button {
  margin: 10px;
  background-color: #007BFF;
  color: #fff;
  
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
}

.favorite-cities .city-card button:hover {
  background-color: var(--main-color);
}

